.content {
  width: 100vw;
  height: 100svh;
  background: linear-gradient(90deg, #330174, #813b92, #6d6dce);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template: 
  "head head head" 1fr
  "nav main main" 2fr
  "nav main main" 1fr / 1fr 2.5fr;
}

.block {
  border-radius: var(--radius);
  background-color: var(--background);
  padding: 1rem;
}

.header-container {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.main-container {
  grid-area: main;
}

.aside-container {
  grid-area: nav;
}