<div class="container">
  <ul class="add-new-menu">
    <li>
      <p-button 
        icon="pi pi-dollar"
        label="Fonte de renda"
        severity="success"
        size="large"
        [raised]="true"
        [style]="{'width':'100%'}"  
        >
      </p-button >
    </li>
    <li>
      <p-button 
        icon="pi pi-barcode"
        label="Despesas fixas"
        severity="primary"
        size="large"
        [raised]="true"
        [style]="{'width':'100%'}"  
        >
      </p-button >
    </li>
    <li>
      <p-button 
        icon="pi pi-book"
        label="Investimentos"
        severity="info"
        size="large"
        [raised]="true"
        [style]="{'width':'100%'}"  
        >
      </p-button >
    </li>
  </ul>
</div>