@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "primeicons/primeicons.css";

@layer base {
  :root {
    --background: #F9F6EE;
    --radius: 0.3rem;
    --foreground: #1C324A;
  }

  *, *:before, *:after{
    box-sizing: border-box;
  }
  
  html, body, div, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body {
    font-family: "Ubuntu", sans-serif;
  }
  
  ol, ul{
    list-style: none;
  }
  
}
